<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.FeaturelistDao">
	<!-- 显示所有角色 -->
	<select id="list" resultType="entity.Function">
		select * from as_function order by id
	</select>
	
	<!-- 增加角色权限 -->
	<insert id="addPremission" parameterType="entity.Role_premission">
		insert into as_role_premission ( roleId,functionId,creationTime,createdBy,lastUpdateTime,isStart)
			values (#{roleId},#{functionId},#{creationTime},#{createdBy},#{lastUpdateTime},#{isStart})
	</insert>
	
	<!-- 删除权限 -->
	<delete id="delPremission" parameterType="int">
		delete from as_role_premission where roleId=#{roleId}
	</delete>
	
	<!-- 查询单个角色的功能权限ID集合 -->
	<select id="role_premissions" parameterType="int" resultType="java.lang.Integer">
		select functionid from as_role_premission where roleId=#{roleId}
	</select>
</mapper>