<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.SystemconfigDao">
	<!-- 删除某一系统配置-->
	<delete id="delete" parameterType="Integer">
		delete from as_systemconfig
		where id=#{id}
	</delete>
	
	<select id="type" resultType="entity.Systemconfig">
		select * from as_systemconfig where configType=#{configType} and
		isStart=#{isStart}
		ORDER BY id
	</select>
	
	<!--增加某种系统配置  -->
	<insert id="addSystemconfig" parameterType="entity.Systemconfig">
		insert into as_systemconfig
		values(#{id},#{configType},#{configTypeName},#{configTypeValue},#{configValue},#{isStart}
		)
	</insert>
	
	<!--查询findConfigTypeValue  -->
	<!--<select id="findConfigTypeValue" resultType="int">
		select
		nvl(Max(configTypeValue)+1,1)  from AS_SYSTEMCONFIG where
		configType=#{configType}
	</select>-->
	
	<!-- 分页查询系统配置 -->
	<select id="pagefind" resultType="entity.Systemconfig">
		select * from as_systemconfig
		where configtype=#{configType}
		LIMIT #{lineNum},#{pageSize}
	</select>
	<!--  查询某一系统配置行数-->
	<select id="count" resultType="java.lang.Integer" parameterType="int">
		select
		count(1) from as_systemconfig where configtype =#{configType}
	</select>
	
	<!-- 根据 configType查询类集合 -->
	<select id="getConfig" resultType="entity.Systemconfig">
		select * from as_systemconfig where configtype=#{configType}
	</select>
	
	<select id="findsys" parameterType="entity.Systemconfig" resultType="entity.Systemconfig">
		select * from as_systemconfig where isStart=1
		and configType=#{configType}
		<if test="configTypeValue!=null">
		and configTypeValue=#{configTypeValue}
		</if>
		<if test="configTypeName!=null">
		and configTypeName=#{configTypeName}
		</if>
	</select>
	<!-- 更新系统配置 -->
	<select id="update" parameterType="entity.Systemconfig" resultType="entity.Systemconfig">
	UPDATE as_systemconfig SET
	configType=#{configType},
	configValue=#{configValue},
	configTypeName=#{configTypeName},
	configTypeValue=#{configTypeValue},
	isStart=#{isStart}
	WHERE id = #{id}
	</select>
	
	<!--根据ID寻找系统配置  -->
	<select id="findByID" parameterType="Integer" resultType="entity.Systemconfig">
		select * from as_systemconfig where id = #{id}
	</select>
</mapper>